<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            margin: auto;
            max-width: 800px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Students' Results</h1>
<table class="table text-center table-bordered table-light table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mark</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td id="stid{{ student.0 }}">{{ student.0 }}</td>
            <td>{{ student.1 }}</td>
            <td>{{ student.2 }}</td>
            <td>
                <button class="btn btn-danger" onclick="del({{ student.0 }})">X</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Add Student</h2>
<div>
    <input type="text" id="inputName"><label for="inputName">Name</label>
    <input type="text" id="inputMark"><label for="inputMark">Mark</label>
    <button class="btn btn-success" onclick="add()">Add</button>
</div>
</body>
</html>

<script>
    async function add() {
        const studentName = document.getElementById("inputName").value;
        const studentMark = document.getElementById("inputMark").value;
        await fetch('/students/add_student/', {
            method: 'POST',
            body: JSON.stringify({name: studentName, mark: studentMark}),
        });
        window.location.reload();
    }

    async function del(studentId) {
        if (confirm('Do you want to delete student?')) {
            await fetch(`/students/delete_student/${studentId}/`);
            window.location.reload();
        }
    }
</script>